body {
    margin: 0;
    height: 20px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
    background-color: white;
}

a {
    text-decoration:none;
    color: black;
}

article {
    margin: 5px 10px;
}

main {
    background-color: #ebebe8;
}

form {
    padding: 10px 15px;
}

footer {
    display: flex;
    justify-content: flex-end;
    position:fixed;
    left:0px;
    bottom:0px;
    height:45px;
    width:100%;
    background: #000000d6;
    color: white;
}

button {
    font-size: 11px;
    font-weight: bold;
    color: white;
    background: #638cb5;
    border: 0px;
    width: 90px;
    height: 30px;
    cursor: pointer;
}

.form-section {
    border: 1px solid !important;
    margin: 2px;
}

.form-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 28px;
}

.form-info > label {
    width: 35%;
}

.form-info > input {
    width: 350px;
    height: 20px;
}

.form-info > select {
    width: 358px;
    height: 26px;
    background: white;
    border: 1px solid gray;
}

.checkbox-container {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
}

.disabled-select {
    background: #d6d6d6 !important;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}